#main-header{
  font-size: 75px;
}

#header-container td{
  font-size: 25px;
}

.section-header{
  font-size: 55px;
}

.section-text-normal{
  font-size: 40px;
  line-height: 40px;
}

.header-divider, .divider{
    max-width: 100%;
    border-top: 5px dotted grey;
}
