#primary-container{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

#header-container{
  position: fixed;
  background: white;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

#main-header{
  margin: 0;
  padding-top: 20px;
}

#header-container a{
  text-decoration: none;
}

#header-space{
  margin: 0;
  padding: 0;
}

#header-container td{
  padding-left: 10px;
  padding-right: 10px
}

#contents-title{
  display: inline-block;
  text-align: center;
}

#main-header, .section-header{
  text-align: center;
}

.section, .divider{
  position: relative;
  margin-top: 15px;
}

.header-divider{
  margin: 0;
}

.title-anchor{
  position: relative;
  height: 0px;
  margin: 0;
  padding: 0;
}


#contents-container{
  display: none;
  z-index: 1;
  background: white;
  overflow-y: auto;
}

#search-and-sort-table td{
  padding: 0;
}

#contents-search-box{
  margin: 15px;
  padding-left: 15px;
  padding-right: 30px;
  border: 1px solid grey;
  border-radius: 10px;
}


a, a:visited{
  text-decoration: none;
  text-decoration: underline;
  color: black;
}

#contents-table a{
  text-decoration: none;
}
#contents-table a:hover{
  color: blue;
}

#contents-table{
  width: 100%;
}

#contents-table td{
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 33.3%;
  text-align: center;
}

.section{
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.section li{
  padding-top: 7px;
  padding-bottom: 7px;
}

.section-header{
  margin-top: 10px;
}

.section-content{
  position: relative;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  text-align: left;
}

h3{
  margin: 0;
  padding: 0;
}

.img-span{
  display: block;
  width: 100%;
  text-align: center;
}

img{
  display: inline-block;
}
