html, body{
  margin: 0;
  padding: 0;
}

#main-header{
  font-size: 5.5vh;
}

#main-header, .section-header{
    text-align: center;
}

#main-header, .section, .divider{
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 15px;
}

.section{
  max-width: 500px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px dotted black;
}

.divider{
    height: 2px;
    max-width: 500px;
    background: black;
}

.section-header{
  font-size: 3.5vh;
  margin-top: 10px;
}

.section-content{
  position: relative;
  width: 95%; height: 100;
  margin: auto;
  margin-bottom: 10px;
  border: 1px dotted black;
}
